$fa-font-path: "../fonts/font-awesome" !default;
$icon-font-path: "../fonts/bootstrap";
$OpenSansPath: "../fonts/opensans";

$grid-gutter-width: 30px;
$font-family-sans-serif: "Open Sans";

@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../../node_modules/font-awesome/scss/font-awesome";
@import "../../node_modules/open-sans-fontface/sass/variables";
@import "../../node_modules/open-sans-fontface/sass/mixins";
@import "../../node_modules/open-sans-fontface/sass/Regular";
@import "../../node_modules/open-sans-fontface/sass/Italic";
@import "../../node_modules/open-sans-fontface/sass/Semibold";
@import "../../node_modules/open-sans-fontface/sass/SemiboldItalic";
@import "../../node_modules/open-sans-fontface/sass/Bold";
@import "../../node_modules/open-sans-fontface/sass/BoldItalic";
